@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ef4836;
  --secondary-color: #22313f;
}

@layer components{
  .btn-primary{
    @apply text-white inline-block border-2 py-3 px-7 bg-primary-700 hover:border-primary-700 hover:bg-transparent hover:text-black
  }
  .btn-primary-2{
    @apply inline-block border-2 border-primary-700 py-3 px-8 text-primary-700 hover:bg-primary-700 hover:text-white
  }
  .main-heading{
    @apply text-3xl font-bold
  }
  .h-line{
    @apply inline-block mt-3 bg-primary-700
  }
}
.h-line{
  width: 100px;
  height: 2px;
}

@layer components{
 .container{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
 }

 @media and (max-width: 992px){
  .container{
    padding: 0 20px;
  }
 }
 
}